.required::after {
    content: "*";
    margin-left: 5px;
    color: red;
    /*     background: red; */
}

table td img {
    max-height: 150px;
}

.btn-link, .checkbox-inline, .checkbox label, .radio-inline, .radio label, label {
    font-weight: 400;
    color: #000;
}

.no-sort .no-click .bread-actions ul {
    display: inline-flex;

}


.voyager .table > thead > tr > th {
    border-color: #eaeaea;
    border-top-color: rgb(234, 234, 234);
    border-bottom-color: rgb(234, 234, 234);
    background: #e9e9e96b;
    border-bottom: 1.55px solid #c9c9c9;
}

table {
    border: 1px solid #a9a9a9;
    font-size: 0.9em;
}

table thead tr {
    border-bottom: 1px solid #a9a9a9;
}

table td img {
    height: 7em;
    width: 7em;
}


.container-fluid .types {
    background: #fff;
    height: 3em;
    /*     padding:  */
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    position: relative;
}

.container-fluid .types div .searchresult {
    font-size: 1.3em;
    font-weight: 400;
    color: black;
    padding: 1em;
}

.container-fluid .types ul {
    float: right;
    margin-top: 0.8em;
}

.container-fluid .types ul li {
    list-style: none;
    display: inline-block;
    padding: 0 1em;
    border-right: 2px solid black;
}

.container-fluid .types ul li:last-child {
    margin-right: 0;
    border-right: none;
}

.container-fluid .types ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.btn.btn-gray {
    color: #fff;
    opacity: .9;
    background: gray;
    border: 0;
    border-radius: 3px
}

.btn.btn-gray:hover {
    opacity: 1
}


.voyager .modal.modal-gray .modal-header {
    background: #f0f0f0;
}

.voyager .modal.modal-primary .modal-header {
    background-color: #37aff1;
    color: #fff;
}

.form-group img {
    max-height: 150px;
}

#dataTable .bread-actions .btn, .actions a.btn:not(last-child) {
    margin-right: 5px;
}


.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin-bottom: 3em;
}

.dashboard .item {
    border: 1.2px solid #ededed;
    text-align: center;
    padding: 0.8em;
    color: #333;
    background: #f6f6f6;
}

.dashboard .item.active {
    border-bottom: 3px solid blue;
}

.dashboard .item .stat {
    font-size: 1.5em;
    color: darkcyan;
    font-weight: 500;
}

.dashboard .item .info {
    /*     color: black; */
    font-weight: 500;
}

.dashboard .new_order {
    background: #87ceeb6b;
}

.dashboard .under_manufacturing {
    background: lightgrey;
}

.dashboard .scheduled_for_pickup {
    background: #ffa50070;
}

.dashboard .ready_to_dispatch {
    background: #90ee9078;
}

.dashboard .shipped {
    background: #90ee90d4;
}

.dashboard .delivered {
    background: lightgreen;
}

.dashboard .other {
    background: #ff540070;
}

.dashboard .rto {
    background: #ff00004d;
}

.dashboard .cancelled {
    background: #f90101b0;
}

.dashboard .requestforreturn {
    background: #ff000026;
}

.dashboard .returned {
    background: #00ff6a26;
}

.sliding-btn-div {
    position: fixed;
    bottom: 11px;
    right: 15px;
    z-index: 1000;
    background: #c4e2ff;
    padding: 0px 6px;
    border-radius: 6px;
}

.sliding-btn-div .page-link {
    color: black;
    font-weight: 400;
}

.sliding-btn-div .pagination > li {
    cursor: pointer;
}


.bg-success-blink {
    -webkit-animation: green-blink 1.5s infinite; /* Safari 4+ */
    -moz-animation: green-blink 1.5s infinite; /* Fx 5+ */
    -o-animation: green-blink 1.5s infinite; /* Opera 12+ */
    animation: green-blink 1.5s infinite; /* IE 10+, Fx 29+ */
    }

@-webkit-keyframes green-blink {
    0% {
        background-color: #f6faf6;
    }
    50% {
        background-color: #7bfb7b;
    }
    100% {
        background-color: #3cfb3c;
    }
}