@font-face {
    font-family: Tiempos;
    font-weight: 400;
    font-style: normal;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/TiemposText-Regular.f395ef90.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: Tiempos;
    font-weight: 700;
    font-style: normal;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/TiemposText-Bold.1401aab2.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: Tiempos;
    font-weight: 600;
    font-style: normal;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/TiemposText-Semibold.0df05bac.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: Tiempos;
    font-weight: 400;
    font-style: italic;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/TiemposText-RegularItalic.60e272f1.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: HelveticaNow;
    font-weight: 400;
    font-style: normal;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/HelveticaNowText-Regular.cc94b7ec.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: HelveticaNow;
    font-weight: 700;
    font-style: normal;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/HelveticaNowText-Bold.5fca4438.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: HelveticaNow;
    font-weight: 400;
    font-style: italic;
    src: url(https://mosaic02.ztat.net/zds/assets/fonts/HelveticaNowText-RegularItalic.7701c6bd.woff2) format("woff2");
    font-display: swap
}


.product-title {
    font-size: 28px !important;
    letter-spacing: -0.0175rem !important;
    line-height: 32px !important;
    text-transform: none !important;
}

.right-container {
    padding-left: 8px;
    padding-right: 8px;
}

@media screen and (min-width: 1024px) {
    .right-container {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
        margin-left: 10px;
    }
}

.brand-div {
    margin-top: 0;
}
.brand-span:hover{
    border-bottom: 2px solid #1a1a1a;
}

.brand-a {
    position: relative;
    outline: none;
    text-decoration: none;
    display: inline-block;
}

.brand-h3 {
    display: inline;
    color: black;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    font-family: Tiempos, Times New Roman, serif;
    text-transform: none;
    margin: 0;
}

.title-h1 {
    font-weight: 600;
    padding-top: 4px;
    color: black;
    font-size: 28px;
    line-height: 32px;
    text-transform: none;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.price-div {
    margin-top: 8px;
}

.price-div2 {
    display: flex;
    flex-direction: column;
}

.price-div3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

.price-p {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
}

.price-span {
    color: black;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -0.22px;
    line-height: 28px;
    margin-right: 2rem;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.price-inc {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    margin-left: 8px;
    color: #66676e;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.color-container {
    margin-bottom: 48px;
    /*margin-top: 36px;*/
}

.selected-color-div {
    margin-bottom: 8px;
}

.color-p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.color-span {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.color-span2 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.color-selected {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    display: inline;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.all-color-container {
    margin-left: calc(16px / 2 * -1);
    width: calc(100% + 16px);
    margin-right: auto;
}

@media screen and (min-width: 1280px) {
    .all-color-container {
        margin-right: auto;
        max-width: calc(1280px - 32px * 2);
    }
}

@media screen and (min-width: 768px) {
    .all-color-container {
        display: block;
    }
}

.colors-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 100%;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.colors-li {
    padding-left: calc(16px / 2);
    padding-right: calc(16px / 2);
    margin-bottom: 16px;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
}

.colors-li-div {
    position: relative;
    width: 100%;
    cursor: pointer;
    border: none;
}

.color-img-container {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    padding-top: calc(1 / 0.693 * 100%);
}

.color-img-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.active[class*="color-img-div"]{
    border: 2px solid #1a1a1a;
}

.color-img-div:hover {
    border: 2px solid #1a1a1a;
}

.color-image {
    position: relative;
    font-weight: 400;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: HelveticaNow, Helvetica, sans-serif;
    transition: opacity .25s ease-in-out;
}

.color-dropdown-wrapper {
    margin-bottom: 8px;
}

.color-dropdown-container {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}

.color-dropdown-container2 {
    position: relative;
    width: 100%;
}

.color-dropdown-border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    box-shadow: var(--box-shadow-inset-s-primary);
    pointer-events: none;
}

.color-dropdown-button {
    color: #1a1a1a;
    background: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border: 2px solid #1a1a1a;
}

.color-dropdown-span {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    padding-right: 8px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: #66676e;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.color-dropdown-div {
    display: flex;
    align-items: center;
    margin-block: auto;
}

.color-dropdown-svg {
    align-items: center;
    display: flex;
    pointer-events: none;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 12px;
    user-select: none;
    height: 24px;
    transform: scale(1);
    width: 24px;
}

.size-list-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .size-list-wrapper {
        max-height: 320px;
    }
}


.size-list-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .size-list-container {
        box-shadow: none;
    }
}

.size-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size-div:hover {
    background-color: rgba(75, 75, 75, 0.05);
}

.size-input {
    position: absolute;
    opacity: 0;
    padding: 0;
    width: 0;
    height: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.size-div2 {
    position: relative;
    outline: none;
    display: flex;
    align-items: center;
}

.size-label {
    position: relative;
    font-weight: 400;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    padding-right: 12px;
    margin-left: 24px;
    box-shadow: inset 0 calc(0.0625rem * -1) 0 0 #d0d1d3;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.size-span {
    white-space: nowrap;
    flex-grow: 1;
    overflow: hidden;
    padding-right: 24px;
    text-overflow: ellipsis;
}

.size-span-div {
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.size-name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.buy-wrapper {
    display: flex;
    margin-bottom: 1rem;
}

.add-to-cart-btn {
    width: 90%;
    color: #fff;
    background-color: #1a1a1a;
    padding: 10px;
    border: 2px solid #1a1a1a;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .add-to-cart-btn {
        padding: 8px;
        width: 88%;
    }
        .price-p {
            flex-direction: column!important;
        }

    .new-wishlist-wrapper {
        width: 12%;
    }
}

.add-to-cart-btn:hover {
    color: #1a1a1a;
    background-color: #e0dcdc;
}

.add-to-cart-span {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-width: 500;
    font-family: HelveticaNow, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.new-wishlist-wrapper {
    width: 10%;
    display: block;
    margin-left: 8px;
}

.new-wishlist-wrapper >*{
    width: 100%;
    height: 100%;
}

.new-wishlist-btn {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #1a1a1a;
    margin: 0;
    outline: none;
    white-space: nowrap;
    border-radius: 0;
    border-style: none;
    padding: 12px;
    box-shadow: inset 0 calc(0.0625rem * -1) 0 0 #d0d1d3;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    padding: 4px;
    border: 1px solid;
}

.new-wishlist-btn:hover {
    border: 2px solid;
    background-color: #e0dcdc;
}

.new-wishlist-span {
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.sell-wrapper {
    margin-bottom: 48px;
    margin-top: 48px;
}

.sell-wrapper2 {
    border: 1px solid #1a1a1a;
}

.sell-and-shipped {
    border-bottom: 1px solid #1a1a1a;
    padding-left: 24px;
    padding-right: 24px;
}

.sell-and-shipped-span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sell-and-shipped-p {
    color: #1a1a1a;
    display: inline;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 20px;
    font-family: HelveticaNow, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding: 12px 0px;
}

.delivery-wrapper {
    border-bottom: 1px solid #1a1a1a;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.delivery-conatiner {
    display: flex;
    flex-direction: row;
}

.delivery-conatiner2 {
    display: flex;
    flex: 1 1 auto;
    margin-top: 4px;
    flex-direction: column;
}

.working-days {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #1a1a1a;
}

.standard-delivery {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 0px;
    color: #1a1a1a;
}

.free-shipping-return {
    border-bottom: 1px solid #1a1a1a;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.free-shipping-return-wrapper {
    display: flex;
    align-items: center;

}

.free-shipping-return-svg {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 12px;
    color: #1a1a1a;
    font-size: 24px;
}

.free-shipping-return-p {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 0px;
    color: #1a1a1a;
    margin: 20px 0px;
}

.seven-day-return {
    /*border-bottom: 1px solid #1a1a1a;*/
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.seven-day-return-wrapper {
    display: flex;
    align-items: center;
}

fseven-day-return-container {
    display: flex;
    align-items: center;
}

.seven-day-return-svg {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 12px;
    color: #1a1a1a;
    font-size: 24px;
}

.seven-day-return-p {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 0px;
    color: #1a1a1a;
    margin: 20px 0px;
}

.description-wrapper {
    margin-top: 24px;
}

.desc-container {
    position: relative;
    border-style: none;
    box-shadow: inset 0 calc(0.0625rem * -1) 0 0 #d0d1d3;
    border-bottom: none;
}

.desc-container-h2:hover {
    background-color: #E8E8E7;
    border-top: none;
    border-bottom: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
    border-left: 1px solid #1a1a1a;
}
.desc-container-h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.desc-container-h2-brand {
    display: flex;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
.desc-container-btn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: #1a1a1a;
    margin: 0;
    outline: none;
    white-space: nowrap;
    border-radius: 0;
    border-style: none;
    padding: 12px;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    padding: 4px 20px;
    border-top: 1px solid;
    border-right: 1px white;
    border-left: 1px white;
}

.desc-span {
    flex-grow: 1;
}

.desc-span2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desc-span3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    font-family: HelveticaNow, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desc-span-h5 {
    font-weight: 600;
    color: #1a1a1a;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    text-transform: none;
    font-family: HelveticaNow, Helvetica, sans-serif;
    margin: auto 0px;
    padding: 12px 0px;

}

.desc-svg {
    pointer-events: none;
    display: inline-block;
    flex-shrink: 0;
    height: 1em;
    transform: scale(1);
    width: 1em;
    font-size: 20px;
}

.desc-detail-wrapper {
    overflow: hidden;
    display: none;
}

.desc-detail-container {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
}

.desc-content {
    margin-bottom: 4px;
    display: flex;
}

.desc-label {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    display: inline;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
    min-width: 15%;
    max-width: 20%;
}

.desc-value {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    display: inline;
    color: #1a1a1a;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.view-more{
    width: 20%;
    color: #fff;
    background-color: #1a1a1a;
    padding: 12px;
    border: 2px solid #1a1a1a;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    display: inline;
    font-family: HelveticaNow, Helvetica, sans-serif;
}
.view-more-a:hover{
    text-decoration: none;
    color: #fff;
}


.product-gallery .product-thumbs-wrap .product-thumb img{
    width: 109px !important;
    height: 109px !important;
    object-fit: contain;
}

.product-single-carousel figure.product-image img{
    width: 100% !important;
    aspect-ratio: 1 / 1 !important;
}
.similar-title{
    font-size: 4rem !important;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    margin-bottom: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.05;
    color: #000000;
    margin-bottom: 0px;
    font-family: Tiempos, Times New Roman, serif;
}
.similar-title2{
    font-size: 4rem !important;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    margin-bottom: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.05;
    color: #000000;
    margin-bottom: 0px;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .similar-title{
        font-size: 22px !important;
    }
}
.old-price{
    color:#ea2636;
}

@media screen and (min-width: 900px) {
    .pin-wrapper{
        position: sticky;
        height: 100vh;
        top: 10vh;
    }
    .product-single {
        color: inherit;
        overflow: unset !important;
    }
    .product-single-carousel figure.product-image img{
        height: 95vh;
    }
}
@media (max-width: 991px) {
    .similar-title2{
        font-size: 20px !important;
    }
}

@media (max-width: 480px) {
    .new-product-wrap {
        max-width: 150px !important;
    }
}