@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input {
        accent-color: rgb(59 130 246 / var(--tw-bg-opacity));
    }

    ::-moz-selection {
        /* Code for Firefox */
        @apply bg-primary-500 text-white;
    }

    ::selection {
        @apply bg-primary-500 text-white;
    }

    /* SideBar */
    .sidebar {
        transition: all 0.2s ease-in-out;
        @apply max-h-screen w-[3.35rem] hover:w-64 overflow-hidden border-r hover:bg-white hover:shadow-lg;
    }

    .sidebar i {
        @apply text-xl h-6 w-6;
    }

    .single-item {
        @apply flex items-center space-x-4 pl-5 py-3 text-gray-600 hover:bg-primary-200;
    }

    .dropdown-btn {
        @apply flex items-center space-x-4 rounded-md pl-5 py-3 text-gray-600;
    }

    .dropdown-menu {
        @apply hidden max-md:block group-hover:block py-2 space-y-2;
    }

    li a.dropdown-item {
        @apply flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 hover:bg-primary-200 pl-11;
    }

    /*.router-link-exact-active,*/
    /*.router-link-exact-active:hover {*/
    /*    !* background-color: rgb(20 184 166 / 1) !important; *!*/
    /*    @apply !bg-primary-500;*/
    /*    color: white !important;*/
    /*}*/
    /*.router-link-active,*/
    /*.router-link-active:hover {*/
    /*    !* background-color: rgb(20 184 166 / 1) !important; *!*/
    /*    @apply !bg-primary-500;*/
    /*    color: white !important;*/
    /*}*/


    /* Pagination */
    .prev-btn {
        @apply relative
        inline-flex
        items-center
        rounded-l-md
        px-2 py-2
        text-gray-400
        ring-1 ring-inset ring-gray-300
        hover:bg-gray-50
        focus:z-20 focus:outline-offset-0
        cursor-pointer
        disabled:cursor-not-allowed
        disabled:opacity-50;
    }

    .next-btn {
        @apply relative
        inline-flex
        items-center
        rounded-r-md
        px-2 py-2
        text-gray-400
        ring-1 ring-inset ring-gray-300
        hover:bg-primary-100
        focus:z-20 focus:outline-offset-0
        cursor-pointer
        disabled:cursor-not-allowed
        disabled:opacity-50;
    }

    .active-link {
        @apply relative
        z-10
        inline-flex
        items-center
        bg-primary-600
        px-4 py-2
        text-sm font-semibold text-white
        focus:z-20
        focus-visible:outline
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-primary-600;
    }

    .default-link {
        @apply relative
        inline-flex
        items-center
        px-4 py-2
        hover:bg-primary-100
        text-sm
        font-semibold
        text-gray-900
        ring-1 ring-inset ring-gray-300
        focus:z-20 focus:outline-offset-0;
    }

    /* Table */
    .table-body .table-cell {
        /*vertical-align: top;*/
        @apply align-top;
    }

    .table-head .table-cell {
        /*vertical-align: middle;*/
        /*color: rgb(22 163 74 / var(--tw-bg-opacity));*/
        @apply text-primary-600 align-middle;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-primary-400;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-primary-700;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-primary-800;
    }
}
