@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar {
        transition: all 0.2s ease-in-out;
        @apply max-h-screen w-[3.35rem] hover:w-64 overflow-hidden border-r hover:bg-white hover:shadow-lg;
    }

    .sidebar i {
        @apply text-xl h-6 w-6;
    }

    .single-item {
        @apply flex items-center space-x-4 pl-5 py-3 text-gray-600 hover:bg-green-200;
    }

    .dropdown-btn {
        @apply flex items-center space-x-4 rounded-md pl-5 py-3 text-gray-600;
    }

    .dropdown-menu {
        @apply hidden max-md:block group-hover:block py-2 space-y-2;
    }

    li a.dropdown-item {
        @apply flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 hover:bg-green-200 pl-11;
    }

    ::-moz-selection { /* Code for Firefox */
        @apply bg-green-500 text-white;
      }

      ::selection {
        @apply bg-green-500 text-white;
      }
}


@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #5c5c7b;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-green-700;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-green-800;
    }
}
