@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input {
        accent-color: green;
    }

    ::-moz-selection {
        /* Code for Firefox */
        @apply bg-green-500 text-white;
    }

    ::selection {
        @apply bg-green-500 text-white;
    }

    /* SideBar */
    .sidebar {
        transition: all 0.2s ease-in-out;
        @apply max-h-screen w-[3.35rem] hover:w-64 overflow-hidden border-r hover:bg-white hover:shadow-lg;
    }

    .sidebar i {
        @apply text-xl h-6 w-6;
    }

    .single-item {
        @apply flex items-center space-x-4 pl-5 py-3 text-gray-600 hover:bg-green-200;
    }

    .dropdown-btn {
        @apply flex items-center space-x-4 rounded-md pl-5 py-3 text-gray-600;
    }

    .dropdown-menu {
        @apply hidden max-md:block group-hover:block py-2 space-y-2;
    }

    li a.dropdown-item {
        @apply flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 hover:bg-green-200 pl-11;
    }


    /* Pagination */
    .prev-btn {
        @apply relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
    }

    .next-btn {
        @apply relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-green-100 focus:z-20 focus:outline-offset-0 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
    }

    .active-link {
        @apply relative z-10 inline-flex items-center bg-green-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600;
    }

    .default-link {
        @apply relative inline-flex items-center px-4 py-2 hover:bg-green-100 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0;
    }

}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-green-400;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-green-700;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-green-800;
    }
}
